body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Hero {
    background: #1F2937;
    color: #F9FAF8;
}

.hair {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}